.cart{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.cartLeft{
    background: white;
    padding: 20px;
}
.cartLeft h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}
.cartLeft hr{
    border: none;
    height: 1px;
    background: #dadada;
}
.productCartList{
    display: flex;
    align-items:start;
    gap: 10px;
    padding: 24px 0px 12px 12px;
}
.ProductCartTitlePrice{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.ProductCartBestSeller{
    font-size: 12px;
    margin-top: 10px;
}
.ProductCartBestSeller span{
    font-size: 13px;
    background: #c45500;
    color: white;
    padding: 3px 8px;
}
.productCartStock{
    font-size: 13px;
    color: #007600;
    margin: 4px 0px;
}
.productCartDelivery{
    font-size: 15px;
}
.productCartReturns{
    font-size: 15px;
    color: #007185;
    font-weight: 400;
}
.productCartGiftOption{
    color: #494949;
    font-size: 13px;
    margin: 3px 0px
}
.productCartGiftOption span{
    color: #007185;
}
.productCartSpecs{
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size: 13px;
    margin: 7px 0px;
}
.CartListAction{
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #007185;
}
.CartListAction hr{
    height: 20px;
    width: 1px;
    background: #cfcfcf;
}
.CartListAction select{
    padding: 5px;
    border-radius: 6px;
    background: #f3f3f3;
}
.CartListSubTotal{
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}
.cartRight{
    background: white;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
}
.cartFreeDelivery{
    display: flex;
    font-size: 13px;
}
.cartSubTotal{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.cartRightGift{
    margin: 7px 0px;
    font-size: 14px;
}
.cartRight button{
    width: 100%;
    height: 32px;
    margin: 15px 0px;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.cartRight button:hover{
    background: #ebc712;
}
.footerCart{
    margin-top: 50px;
}

/* Responsive Webdesign */

@media only screen and (max-width:900px){
    .cart{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:600px){
    .productCartList{
        padding: 24px 0px;
    }
    .productCartList img{
        width: 80px;
    }
    .ProductCartTitlePrice{
        flex-wrap: wrap;
        font-size: 14px;
    }
    .productCartDelivery{
        font-size: 13px;
    }
    .CartListAction .ActionBtn:nth-last-child(1){
       display: none;
    }
    .CartListAction hr:nth-last-child(2){
        display: none;
     }
     .CartListAction .ActionBtn:nth-last-child(3){
        display: none;
     }
     .CartListAction hr:nth-last-child(4){
        display: none;
     }
     .cartRight{
        min-width: 100%;
     }

}