@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
}
body{
    background: white;
    text-align: center;
    font-family: outfit;
    min-height: 100vh;
}
.logo{
    margin-top: 20px;
}
.signinContainer{
    max-width: 350px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 20px;
    padding: 20px 26px;
    border-radius: 8px;
    text-align: left;
}
.signinTitle{
    font-size: 28px;
    font-weight: 400;
}
.inputLabel{
    margin-top: 20px;
}
.signinContainer input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 12px;
}
.signinContainer input:focus{
    outline: 3px solid #c2f2ff; 
}
.signinContainer button{
    width: 100%;
    height: 32px;
    margin: 15px 0px;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.signinContainer button:hover{
    background: #ebc712;
}
.signinCondition{
    font-size: 12px;
}
.signinContainer p span{
    color: #0066c0;
}
.signinHelp{
    font-size: 13px;
    margin: 20px 0px;
}
.signinContainer hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
}
.signinContainer h4{
    margin: 15px 0px;
    font-size: 13px;
}
.signinBussiness{
    font-size: 13px; 
}
.signinBottom{
    width: 350px;
    font-size: 13px; 
    color: #737373;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.signinBottom hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
    width: 110px;
}
.signinSignupBtn{
    width: 350px;
    height: 30px;
    font-size: 13px; 
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}
.signinSignupBtn:hover{
    background: #f1f1f1;
}
footer{
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 20px;
    padding: 20px 0px;
    position: fixed;
    bottom: 0px;
    background: linear-gradient(to bottom, #f4f4f4, #fff);
    border: 2px solid #ededed;
    font-size: 12px;
}
footer .footerLinks{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
footer .footerLinks a{
    text-decoration: none;
    color: #0066c0;
}